/* Container for the entire login page */
.login-container {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    gap: 80px; 
    padding: 0 10%;
}

/* Logo Section */
.logo-container {
    position: absolute;
    left: 10px;
    top: -50px;
}

.logo {
    width: 250px;
    height: 141px;
}

/* Left Section: Form */
.login-form-section {
    flex: 1;
    min-width: 400px;
    max-width: 500px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-title {
    font-size: 3.0rem;
    margin-bottom: 10px;
    text-align: left;
}

.side-image{
    height: auto;
    width: auto;
}


.login-description {
    color: #555;
    margin-bottom: 20px;
    text-align: left;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; /* Space between input groups */
}

.login-input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f9f9f9; 
    color: #333;
    margin-top: 0; 
}

.input-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-bottom: 0; 
}

.login-button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #13505B;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Match the width of the inputs */
}

.login-button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.google-login-container {
    margin-top: 20px;
    text-align: center;
}

.google-login-button {
    background: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-text {
    margin-top: 20px;
    text-align: center;
}

.register-link {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
}

/* Right Section: Image Placeholder */
.image-placeholder-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-placeholder {
    width: 200%;
    height: 200%;
    background-color: #ddd;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #999;
}

#root {
    padding: 0;
  }

@media (max-width: 1200px) {
    .login-container {
        gap: 0px; 
    }
    .side-image{
        height: 95%;
        width: 95%;
    }
}
@media (max-width: 990px) {
    .image-placeholder-container {
        display: none;
    }
}
@media (max-width: 768px) {
    .login-form-section {     
        min-width: 300px;
    }

}